.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc{
    background-image: none !important;
}

.statistic-dates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.statistic-dates div {
    width: 50%;
}

.bold {
    font-weight: bold;
}

.editor-wrap {
    width: 500px;
    border: 1px solid #ccc;
}

.editor-action {
    display: flex;
    justify-content: space-between;
}